@font-face {
  font-family: "ltc-light";
  src: url("./ltc-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ltc-regular";
  src: url("./ltc-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ltc-medium";
  src: url("./ltc-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ltc-bold";
  src: url("./ltc-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}